body{
	background-image:url(../imagenes/humo.jpg);
	font-family:fuente-thin;
	font-size:40px;
	color:#131213;
	text-align:center;
	font-weight:bold;
}
hr{
	border:3px solid #E3D9D9;
	width:80%;
	border-radius:5px;
}
p{
	font-size:30px;
	text-align:justify;
	line-height:1.5;
	letter-spacing:2px;
}
table,tr,td{
	border:1px solid #E3D9D9;
	border-spacing:0px;
	background-color:#85A3CD;
	text-align:center;
	font-size:20px;
}

.pie{
	text-align:center;
	font-size:15px;
	font-weight:bold; 
	background-color:#E3D9D9; 
	
}
.sup{
	font-size:50px;
	font-weight:bold;
	height:75px;
	background-color:#E3D9D9; 
	
}
.titulo{
	text-align:center;
	font-size:35px;
	font-weight:bold;
	font-family:fuente-hotdog;
	
}
.carrousel{
	width:600px;
	margin:auto;
	box-sizing:border-box;
}
.contecarrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
}
.itemcarrousel{
	position:relative;
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemcarrouseltarjeta{
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemcarrouselarrows{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;
}
.itemcarrouselarrows> i:hover{
	cursor:pointer;
}
.contecarrouselcontroller{
	width:100%;
	display:flex;
	justify-content:space-evenly;
}
.contecarrouselcontroller>a{
	text-decoration:none;
	font-size:30px;
	color:grey;
}
.itemcarrouselarrows> a >i{
	color:white;
}
/*cajas para productos*/
.caja{
	height:300px;
	width:250px;
	background:#eee;
	border:1px;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow:0 0 10px blue;
	transform:scale(1.3);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20;
	  color:grey;
	font-weight:bold;
	@font-face{
	font-family:fuente-brodo;
	src:url(../fuentes/BrodoThinGrunge.otf);
}

}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
	font-family:fuente-brodo;
}
.caja-2{
	height:140px;
	width:480px;
	background:#eee; 
	border:5px solid #131213; 
	margin:5px;
	color:#131213; 
	text-align:center;
	display:inline-block;
}
.caja-2:hover{
	box-shadow:0 0 0 10px #131213;
	transform:scale(1.3)
	
}

.navegacion{
	display:flex;
	height:100px;
}

.navegacion-item{
	flex:1;
	color:#fff;
	font-weight:bold;
	font-size:15px;
	display:flex;
	transition:flex-grow 0.2s;
	justify-content:center;
	align-items:center;
}
.navegacion-item:hover{
	flex-grow:5;
}

.navegacion-titulo{
	margin:0;
	transform:rotate(-90deg);
	transition:transform 0.2s 0.2s;
}

.navegacion-item:hover .navegacion-titulo{
	transform:rotate(0);
}

.navegacion-item:nth-child(1){
	background:#A49491;
}

.navegacion-item:nth-child(2){
	background:#938987;
}

.navegacion-item:nth-child(3){
	background:#7E6B67;
}

.navegacion-item:nth-child(4){
	background:#AB8F89;
}

@font-face{
	font-family:fuente-thin;
	src:url(../fuentes/Thin Cool.ttf);
}


@font-face{
	font-family:fuente-brodo;
	src:url(../fuentes/BrodoThinGrunge.otf);
}

@font-face{
	font-family:fuente-hotdog;
	src:url(../fuentes/Hot Dog.otf);
}

.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20;
	  color:grey;
	font-weight:bold;
	font-family:fuente-brodo;
	}
	
.texto-adicional{
	padding-top:5px;
	font-size:15px;
	font-family:fuente-brodo;
}
.caja-3{
	flex:1;
	height:400px;
	width:400px;
	background:#eee; 
	border:5px solid #E4CDC9; 
	margin:5px;
	color:#BAB2B0; 
	text-align:center;
	display:inline-block;
	}
.caja-4{
	flex:1;
	height:400px;
	width:500px;
	background:#eee; 
	border:5px solid #E4CDC9; 
	margin:5px;
	color:#BAB2B0; 
	text-align:center;
	display:inline-block;
	}	
	
	
	
